@{
    ViewData["Title"] = "Shopping Cart";
}
<section class="bg0 p-t-100 p-b-80">
    <div class="container">
        <div class="row p-b-20">
            <!-- Shoping Cart -->
            <form class="bg0 p-t-20 p-b-85">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-xl-12 m-lr-auto m-b-50">
                            <div class="m-l-20 m-r-20 m-lr-0-xl">
                                <div class="wrap-table-shopping-cart">
                                    <table class="table-shopping-cart">
                                        <tr class="table_head text-center">
                                            <th class="column-1 ">Product</th>
                                            <th class="column-2">Title</th>
                                            <th class="column-3">Author</th>
                                            <th class="column-4">Category</th>
                                            <th class="column-5">Price</th>
                                            <th class="column-6">Quantity</th>
                                            <th class="column-7">Total</th>
                                        </tr>

                                        <tr class="table_row">
                                            <td class="column-1">
                                                <div class="how-itemcart1">
                                                    <img src="~/images/item-cart-04.jpg" alt="IMG">
                                                </div>
                                            </td>
                                            <td class="column-2">Fresh Strawberries</td>
                                            <td class="column-3">Hunter</td>
                                            <td class="column-4">Historial fiction</td>
                                            <td class="column-5">$ 36.00</td>
                                            <td class="column-6">
                                                <div class="wrap-num-product flex-w">
                                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                                    </div>

                                                    <input class="mtext-104 cl3 txt-center num-product" type="number"
                                                        name="num-product1" value="1">

                                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="column-7">$ 36.00</td>
                                        </tr>

                                        @* <tr class="table_row">
                                            <td class="column-1">
                                                <div class="how-itemcart1">
                                                    <img src="~/images/item-cart-05.jpg" alt="IMG">
                                                </div>
                                            </td>
                                            <td class="column-2">Lightweight Jacket</td>
                                            <td class="column-3">$ 16.00</td>
                                            <td class="column-4">
                                                <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                                    </div>

                                                    <input class="mtext-104 cl3 txt-center num-product" type="number"
                                                        name="num-product2" value="1">

                                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="column-5">$ 16.00</td>
                                        </tr> *@
                                    </table>
                                </div>

                                <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                                    <div
                                        class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                                        Update Cart
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-12 col-xl-12 m-lr-auto">
                            <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-20 m-r-20 m-lr-0-xl p-lr-15-sm">
                                <div class="flex-w flex-t p-b-13">
                                    <div class="size-208">
                                        <h4 class="mtext-109 cl2 p-b-30">
                                            Cart Totals
                                        </h4>
                                    </div>

                                    <div class="size-208">
                                        <span class="mtext-110 cl2">
                                            $79.65
                                        </span>
                                    </div>
                                </div>
                                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                                    <div class="card-body p-5">

                                        <h3 class="mb-4">Payment</h3>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="fullname"><strong>Fullname</strong></label>
                                            <input type="text" id="fullname" class="form-control form-control-lg" />
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="address"><strong>Address</strong></label>
                                            <input type="text" id="address" class="form-control form-control-lg" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="phone"><strong>Phone</strong></label>
                                            <input type="text" id="phone" class="form-control form-control-lg" />
                                        </div>
                                        <div class="row">
                                            <button
                                                class="flex-c-m stext-101 cl0 m-r-20 size-101 bg3 bor14 hov-btn3 p-lr-5 trans-04 pointer">
                                                Checkout
                                            </button>
                                            <button
                                                class="flex-c-m stext-101 cl0 size-101 bg3 bor14 hov-btn3 p-lr-5 trans-04 pointer">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>